In [7]:
!pip3 install pandas

Requirement already satisfied: pandas in /Users/cattienle/anaconda3/envs/testmojave/lib/python3.9/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/cattienle/anaconda3/envs/testmojave/lib/python3.9/site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/cattienle/anaconda3/envs/testmojave/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/cattienle/anaconda3/envs/testmojave/lib/python3.9/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/cattienle/anaconda3/envs/testmojave/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/cattienle/anaconda3/envs/testmojave/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [8]:
!pip3 install prophet

Requirement already satisfied: prophet in /Users/cattienle/anaconda3/envs/testmojave/lib/python3.9/site-packages (1.1.5)
Requirement already satisfied: cmdstanpy>=1.0.4 in /Users/cattienle/anaconda3/envs/testmojave/lib/python3.9/site-packages (from prophet) (1.2.1)
Requirement already satisfied: numpy>=1.15.4 in /Users/cattienle/anaconda3/envs/testmojave/lib/python3.9/site-packages (from prophet) (1.26.2)
Requirement already satisfied: matplotlib>=2.0.0 in /Users/cattienle/anaconda3/envs/testmojave/lib/python3.9/site-packages (from prophet) (3.8.2)
Requirement already satisfied: pandas>=1.0.4 in /Users/cattienle/anaconda3/envs/testmojave/lib/python3.9/site-packages (from prophet) (2.1.4)
Requirement already satisfied: holidays>=0.25 in /Users/cattienle/anaconda3/envs/testmojave/lib/python3.9/site-packages (from prophet) (0.42)
Requirement already satisfied: tqdm>=4.36.1 in /Users/cattienle/anaconda3/envs/testmojave/lib/python3.9/site-packages (from prophet) (4.66.1)
Requirement already satisfied: importlib-resources in /Users/cattienle/anaconda3/envs/testmojave/lib/python3.9/site-packages (from prophet) (6.1.1)
Requirement already satisfied: stanio~=0.3.0 in /Users/cattienle/anaconda3/envs/testmojave/lib/python3.9/site-packages (from cmdstanpy>=1.0.4->prophet) (0.3.0)
Requirement already satisfied: python-dateutil in /Users/cattienle/anaconda3/envs/testmojave/lib/python3.9/site-packages (from holidays>=0.25->prophet) (2.8.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/cattienle/anaconda3/envs/testmojave/lib/python3.9/site-packages (from matplotlib>=2.0.0->prophet) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /Users/cattienle/anaconda3/envs/testmojave/lib/python3.9/site-packages (from matplotlib>=2.0.0->prophet) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/cattienle/anaconda3/envs/testmojave/lib/python3.9/site-packages (from matplotlib>=2.0.0->prophet) (4.47.2)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/cattienle/anaconda3/envs/testmojave/lib/python3.9/site-packages (from matplotlib>=2.0.0->prophet) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Users/cattienle/anaconda3/envs/testmojave/lib/python3.9/site-packages (from matplotlib>=2.0.0->prophet) (23.1)
Requirement already satisfied: pillow>=8 in /Users/cattienle/anaconda3/envs/testmojave/lib/python3.9/site-packages (from matplotlib>=2.0.0->prophet) (10.0.1)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/cattienle/anaconda3/envs/testmojave/lib/python3.9/site-packages (from matplotlib>=2.0.0->prophet) (3.1.1)
Requirement already satisfied: zipp>=3.1.0 in /Users/cattienle/anaconda3/envs/testmojave/lib/python3.9/site-packages (from importlib-resources->prophet) (3.11.0)
Requirement already satisfied: pytz>=2020.1 in /Users/cattienle/anaconda3/envs/testmojave/lib/python3.9/site-packages (from pandas>=1.0.4->prophet) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/cattienle/anaconda3/envs/testmojave/lib/python3.9/site-packages (from pandas>=1.0.4->prophet) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/cattienle/anaconda3/envs/testmojave/lib/python3.9/site-packages (from python-dateutil->holidays>=0.25->prophet) (1.16.0)

In [9]:
import pandas as pd
from prophet import Prophet
from datetime import datetime
from prophet.diagnostics import cross_validation

In [10]:
weather_df = pd.read_csv("london_weather.csv")
weather_df.head()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0
4,19790105,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0

In [11]:
weather_df['ds'] = pd.to_datetime(weather_df['date'], format='%Y%m%d')
weather_df.head()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth,ds
0,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0,1979-01-01
1,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0,1979-01-02
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0,1979-01-03
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0,1979-01-04
4,19790105,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0,1979-01-05

In [12]:
df_cloud_cover = weather_df[["ds","cloud_cover"]]
df_cloud_cover = df_cloud_cover.rename(columns = {"cloud_cover":"y"})
df_cloud_cover

              ds    y
0     1979-01-01  2.0
1     1979-01-02  6.0
2     1979-01-03  5.0
3     1979-01-04  8.0
4     1979-01-05  6.0
...          ...  ...
15336 2020-12-27  1.0
15337 2020-12-28  7.0
15338 2020-12-29  7.0
15339 2020-12-30  6.0
15340 2020-12-31  7.0

[15341 rows x 2 columns]

In [13]:
model_cloud_cover = Prophet()

In [14]:
model_cloud_cover.fit(df_sunshine)

NameError: name 'df_sunshine' is not defined

In [ ]:
future_cloud_cover = model_cloud_cover.make_future_dataframe(periods=5, freq="Y")

In [ ]:
forecast_cloud_cover = model_cloud_cover.predict(future_sunshine)

In [ ]:
fig_cloud_cover = model_cloud_cover.plot(forecast_cloud_cover)

In [ ]:
forecast_cloud_cover = forecast_cloud_cover.set_index("ds")
forecast_cloud_cover.head()

In [ ]:
forecast_cloud_cover[['yhat', 'yhat_lower', 'yhat_upper']].iloc[-5:,:].plot()

In [ ]:
forecast_cloud_cover = forecast_cloud_cover.reset_index()
fig_cloud_cover_a = model_cloud_cover.plot_components(forecast_cloud_cover)